<div>
  <span class="stats">
    Starred: {{starredCount}}
  </span>
  <span class="starred-filter">
    <label class="radio-inline">
      <input type="radio" value="all" [(ngModel)]="filter" (ngModelChange)="filterMsg()">
      Show All</label>
    <label class="radio-inline">
      <input type="radio" value="starred" [(ngModel)]="filter" (ngModelChange)="filterMsg()">
      Starred Messages</label>
    <label class="radio-inline">
      <input type="radio" value="notStarred" [(ngModel)]="filter" (ngModelChange)="filterMsg()">
      Not Starred Messages</label>
  </span>
</div>

{{filter}}
<div *ngFor="let message of filteredMsgs">
  <article class="message row">
    <figure class="col-md-2 text-center">
      <img src="{{message.avatar}}">
      <figcaption>
        {{message.handle}}
      </figcaption>
    </figure>
    <div class="col-md-7 top-space">
      <div class="date">
        Twitter | {{message.timestamp | date:'mediumDate'}}
      </div>
      <div class="content">
        {{message.content}}
      </div>
    </div>
    <div class="col-md-3 top-space">
      <button *ngIf="!message.isStarred" (click)="toggleButton(message)" type="button" class="btn btn-outline-secondary">
        Star Message!</button>
      <button *ngIf="message.isStarred" (click)="toggleButton(message)" type="button" class="btn btn-warning">
        Starred!</button>
    </div>
  </article>
</div>

