img {
  margin: 1em;
}

button {
  float: right;
}

.starred-filter {
  float: right;
  margin-right: 1em;
}

.stats {
  margin-left: 0.5em;
  font-size: 2em;
}

.top-space {
  margin-top: 1em;
}

.message {
  border:1px solid #D3D3D3;
  margin: 1em;
}

.date {
  color: #808080;
  font-size: 0.9em;
}

